/*
    Medidas en CSS
    1rem = 16px
    rem
*/

/* Pseudoselectores o variables de CSS o variables en general */
:root{
    --blanco: #ffffff;
    --obscuro: #000;
    /* Color que mas se va a utilizar */
    --primary: #FFC107;
    --secondary: #0097A7;
    --gray: #757575;
}

/* Reiniciar la pagina web */
html {
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    /* De esta manera se utiliza la variable 
    color: var(--primary)
    */
    
    /* normal = 400 ; bold = 700 */
    font-weight: 700;
}

titulo span {
    font-size: 2rem;
}

.contenedor{

    max-width: 120rem; /*1200px*/

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.nav-bg{
    background-color: var(--secondary);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--primary);
    color: var(--obscuro);
}

/*

    tamaños estandar

    Smartphone
    @media (min-width: 480px) {
    
}
    tablet
    @media (min-width: 768px) {
    
}

    laptop or computer
    @media (min-width: 1140px) {
    
}
    Others
    @media (min-width: 1400) {
        
    }


*/
