/* Pseudocolores o variables de css */
:root {
    --gray: #212437;
    --grayClear: #23253A;
    --white: #FAFEFE;
    --pink: #FD5358;
}

* {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 12pt;
}

.title {
    font-weight: 100;
    font-size: 3rem;
    color: #FAFEFE;
    margin-bottom: 15px;
}

body {
    font-family: 'Poppins', sans-serif;;
    background-color: #23253A;
}

.nav-bg {
    background-color: var(--gray);
    padding: 15px;
}

.main-navigation{
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
    gap: 30px;
    font-weight: lighter;
    margin-right: 120px;
}

nav a {
    font-size: 11pt;
    color: var(--white);
    text-decoration: none;
}

.container-father {
    margin: 0 50px;
}

.banner {
    padding: 200px 100px;
}

.container-banner p{
    color: #4f557c;
    margin-bottom: 20px;
}

.button {
    border-style: hidden;
    padding: 15px;
    width: 15%;
    font-weight: bold;
    background-color: var(--pink);
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    border-style: solid;
    background-color: var(--gray);
    border-color: var(--pink);
}

.container-services {
    padding: 150px 100px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row and column */
    gap: 70px 80px;
}

.service {
    /* Arriba, derecha, abajo, izquierda */
    min-height: 210px;
    padding: 40px 32px 30px 32px;
    background-color: #2B2E41;
    color: var(--white);
}

.icons {
    height: 42px;
    width: 42px;
    margin-bottom: 24px;
    color: var(--pink);
}

.icons svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.service-name {
    margin-bottom: 15px;
    font-size: 11pt;
    font-weight: 700;
}

.service p {
    color: var(--white);
    font-size: 9pt;
    line-height: 1.6;
}

.topic {
    font-size: small;
    color: var(--white);
    font-weight: 100;
    margin-bottom: 10px;
}

.subtitle {
    font-weight: bolder;
    color: #FD5358;
    font-size: 32pt;
    margin-bottom: 50px;
}

/* Scroll type */
.banner {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


